<h2 class="mb-4">
  Resend confirmation instructions
</h2>

<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), data: { turbo: false }, html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="mb-3">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
  </div>

  <div class="d-grid">
    <%= f.submit "Resend confirmation instructions", class: "btn btn-primary" %>
  </div>
<% end %>

<div class="text-start mt-2">
  <%= render "devise/shared/links" %>
</div>
