<div id="page-new-item" data-controller="dictionaries">
  <div class="card text-bg-light mt-4">
    <div class="card-body">
      <%= form_with model: @item, local: true do |form| %>
        <div class="mb-3">
          <%= form.text_area :text_1, class: 'form-control', tabindex: 1, data: { controller: "textarea-autogrow", "dictionaries-target": "textareaTop" }, placeholder: "Text to translate" %>
        </div>

        <% if current_user.is_me? %>
          <div class="dropdown d-grid mb-3">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">
              Translate with
            </button>

            <ul class="dropdown-menu w-100">
              <% ["WordReference", "Linguee", "Deepl"].each do |dictionary| %>
                <li>
                  <a class="dropdown-item" data-dictionaries-target="dictionaryLink" data-action="dictionaries#goTo" data-dictionary="<%= dictionary %>">
                    <%= dictionary %>
                  </a>
                </li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="mb-3">
          <%= form.text_area :text_2, class: 'form-control', tabindex: 2, data: { controller: "textarea-autogrow", "dictionaries-target": "textareaTop" }, placeholder: "Translation" %>
        </div>

        <div class="d-grid mb-3">
          <%= form.submit "Save", class: "btn btn-primary" %>
        </div>

        <div class="d-grid mb-3">
          <% if current_user.items.count == 0 %>
            <%= link_to "Cancel", root_path, class: "btn btn-secondary" %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
