<div id="page-show-item" data-controller="quizz">
  <div class="row">
    <div class="col s12">
      <div class="card">
        <div class="card-body" data-quizz-target="text1">
          <%= @item.text_1 %>
        </div>

        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-warning">
          <%= @item.level %>
        </span>
      </div>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col s12">
      <div class="card">
        <div class="card-body text-white" data-quizz-target="text2">
          <%= @item.text_2 %>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col s12 d-flex">
      <% unless params[:no_quiz].present? %>
        <%= button_tag(type: 'button', class: "btn btn-primary", data: { "quizz-target": "showAnswerButton", action: "quizz#showAnswer" }) do %>
          <i class="bi-eye"></i> Show
        <% end %>

        <div data-quizz-target="answerButtons" class="d-none">
          <%= link_to(answer_item_path(@item, is_answer_correct: true), type: 'button', class: "btn btn-success", data: {turbo_method: "put", disable_with: '...'}) do %>
            <i class="bi-hand-thumbs-up"></i>
          <% end %>

          <%= link_to(answer_item_path(@item, is_answer_correct: false), type: 'button', class: "btn btn-danger", data: {turbo_method: "put", disable_with: '...'}) do %>
            <i class="bi-hand-thumbs-down"></i>
          <% end %>
        </div>
      <% end %>

      <div class="dropdown ms-auto">
        <button class="btn btn-secondary" type="button" data-bs-toggle="dropdown">
          <i class="bi-three-dots-vertical"></i>
        </button>

        <ul class="dropdown-menu">
          <li>
            <%= link_to(edit_item_path(@item), class: "dropdown-item") do %>
              <i class="bi-pencil"></i> Edit
            <% end %>
          </li>

          <li>
            <%= link_to("https://translate.google.com/?sl=en&tl=fr&op=translate&text=#{CGI.escape(@item.text_1)}", target: "_blank", class: "dropdown-item") do %>
              <i class="bi-chat-quote"></i> Pronunciation of top text
            <% end %>
          </li>

          <li>
            <%= link_to("https://translate.google.com/?sl=en&tl=fr&op=translate&text=#{CGI.escape(@item.text_2)}", target: "_blank", class: "dropdown-item") do %>
              <i class="bi-chat-quote"></i> Pronunciation of bottom text
            <% end %>
          </li>

          <li>
            <%= link_to(reset_to_zero_item_path(@item), data: {turbo_method: "put"}, class: "dropdown-item") do %>
              <i class="bi-arrow-clockwise"></i> Reset to level 0
            <% end %>
          </li>

          <li>
            <%= link_to(shift_item_path(@item), data: {turbo_method: "put"}, class: "dropdown-item") do %>
              <i class="bi-fast-forward"></i> Shift
            <% end %>
          </li>

          <li>
            <%= link_to(item_path(@item), data: {turbo_method: "delete"}, class: "dropdown-item") do %>
              <i class="bi-trash"></i> Delete
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
