<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/head' %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="bg-dark logged-in-layout">
    <%= render 'layouts/header' %>
    <%= render 'layouts/side_menu' %>

    <main class="container body-content">
      <%= yield %>
    </main>

    <%= render 'layouts/flash' %>
    <%= render 'layouts/search_modal' %>
  </body>
</html>
