<!DOCTYPE html>
<html>
  <head>
    <title>Vokab</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="bg-dark text-white">
    <div class="container text-center text-black">
      <div class="row">
        <div class="col-sm-6 mx-auto">
          <h1 class="mt-5 mb-4">
            <a href="/" class="text-white text-decoration-none">
              VOKAB
            </a>
          </h1>

          <div class="card">
            <div class="card-body">
              <%= yield %>
            </div>
        </div>
      </div>
    </div>
  </body>
</html>
